:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  outline: none;
  transition: 0.15s linear;
}
*:focus {
  outline: solid 1px #7c8ff6;
  outline-offset: 2px;
}


.drag{
  -webkit-app-region: drag;
}

.no-drag{
  -webkit-app-region: no-drag;
}

.root{
  transition: none;
}